<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="jumbotron">
        <h4>YNAB</h4>
          <% if current_user %>
            <p>
             <span>Connected</span> <i class="material-icons">done</i>
            </p>
            <%= link_to "Log out from YNAB", log_out_path, class: 'btn btn-primary btn-lg' %>
          <% else %>
          <p>Log in with YNAB to START linking your transactions :)</p>
          <%= link_to "Sign in To YNAB", "/auth/ynab_auth", class: 'btn btn-primary btn-lg' %>
        <% end %>
      </div>
    </div>
    <div class="col-sm">
      <div class="jumbotron">
        <h4>Privacy.com</h4>
        <% if current_user %>

          <% if current_user.privacy_key.to_s.empty? %>
            <p>Add your Privacy.com Access token to receive transactions</p>
            <%= link_to 'Add Privacy Access Token', edit_user_path(current_user), class: 'btn btn-primary btn-lg'  %>
          <% else %>
            <p>
              <span>Connected</span> <i class="material-icons">done</i>
            </p>
            <%= link_to 'Edit Privacy Access Token', edit_user_path(current_user), class: 'btn btn-primary btn-lg'%>
          <% end %>


        <% else %>
          <p>Log in with YNAB first :)</p>
        <% end %>
      </div>
    </div>
  </div>
  <% if current_user %>
  <div class="row">
    <%= link_to  'Build Budget Links', links_index_path, class: 'btn btn-primary btn-lg' %>
  </div>
  <% end %>
</div>
