<!DOCTYPE html>
<html>
<head>
  <title>YnabPrivacy</title>
  <meta charset="utf-8">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag     'ynab_privacy_ng' %>
  <%= stylesheet_pack_tag     'application' %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <base href="/category_links">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <%= yield %>
</body>
</html>
